body{
    font-style: italic;
    text-align: center;
    background-color:  rgb(220, 172, 82);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
h1{
    text-align: center;
}
ol{
    list-style: none;
}